.field input[type="text"],
.field input[type="password"],
.field select {
	
}

input[type="submit"],
input[type="button"],
button,
.button {
	font-size: 11px;
}

.field,
.buttons {
	margin: 10px 0;
}

.field {
	margin-left: 10px;
	margin-right: 10px;
}

.buttons {
	padding-top: 10px;
	border-top: 1px solid #ccc;
	padding-left: 10px;
}

/*
|--------------------------------------------------------------------------
| Login
|--------------------------------------------------------------------------
*/

#account-login {
	width: 250px;
	margin: 0 auto;
}

#account-login .field {
	margin-left: 10px;
	margin-right: 10px;
}

#account-login .buttons {
	text-align: center;
	
}

#account-login input[type="text"],
#account-login input[type="password"] {
	width: 210px;
}

/*
|--------------------------------------------------------------------------
| Account :: Index
|--------------------------------------------------------------------------
*/

#account-index {
	width: 290px;
	margin: 0 auto;
}

#account-index .field input[type="text"] {
	width: 250px;
}
