html,
body {
	background-color: #fff;
	font-size: 16px;
}

fieldset {
	border-top: 2px solid #000;
}

fieldset legend {
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	padding: 5px;
}

label {
	font-weight: bold;
	width: 170px;
	text-align: right;
	display: inline-block;
	margin-right: 10px;
}

label:after {
	content: ':';
}

/* Psuedo-grid System (4 columns)
-------------------------------------------------------------------------*/

.row:before,
.row:after {
    content: " ";
    display: table; 
}

.row:after {
    clear: both;
}

.row {
    *zoom: 1;
	margin: 1%;
}

.column {
	background-color: #ddd;
	float: left;
	margin: 1%;
}

.span1 {
	width: 23%;
}

.span2 {
	width: 48%;
}

.span3 {
	width: 73%;
}

.span4 {
	width: 98%;
}
