html,
body {
	background-color: #fff;
	font-size: 16px;
}

#logo {
	height: 100px;
	position: relative;
	top: -10px;
}

fieldset {
	margin-top: 20px;
	border-top: 2px solid #000;
}

fieldset legend {
	border: 2px solid #000;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	padding: 5px;
}

label {
	font-weight: bold;
	width: 120px;
	text-align: right;
	display: inline-block;
	margin: 5px 10px 5px 0;
}

label:after {
	content: ':';
}

label.no-width {
	width: auto;
}

.multi-line:before,
.multi-line:after {
    content: " ";
    display: table;
}

.multi-line:after {
    clear: both;
}

.multi-line {
    *zoom: 1;
    
}

.multi-line label {
	float: left;
}

.multi-line .value {
	display: inline-block;
	margin: 5px 0;
}

.wide-labels label {
	width: 50%;
}

.disclaimer {
	text-align: center;
	font-size: 11px;
	font-style: italic;
}

/* Psuedo-grid System (4 columns)
-------------------------------------------------------------------------*/

.row:before,
.row:after {
    content: " ";
    display: table; 
}

.row:after {
    clear: both;
}

.row {
    *zoom: 1;
	margin: 1%;
}

.column {
	background-color: #ddd;
	float: left;
	margin: 1%;
}

.span1 {
	width: 23%;
}

.span2 {
	width: 48%;
}

.span3 {
	width: 73%;
}

.span4 {
	width: 98%;
}
