# Aptana Project File
.project

# AR/activeCollab system directories
content-backend/cache
content-backend/compile
content-backend/uploads
content-backend/upload

# Wordpress configuration file
wp-config.php
