# Aptana Project File
.project

# AR/activeCollab system directories
content-backend/uploads
content-backend/upload

# Wordpress configuration file
content-frontend/wp-config.php

#content-frontend/uploads/*
