php_value upload_max_filesize 130M
php_value post_max_size 130M


#AuthUserFile /home/jkabel/public_html/accident-review/content-frontend/.htpasswd
#AuthType Basic
#AuthName "Accident Review Dev"
#Require valid-user

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
